* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  margin-top: 32px;
  margin-left: 32px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
}

.data__entry {
  text-align: center;
}

.age__increaser {
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
}